
    
    
/* BEGIN Pygments stuff */

/* make sure there are no borders */
table.highlighttable { border-collapse:collapse; }
table.highlighttable td, table.highlighttable tr { padding: 0; margin: 0; border: 0; }

/* undo Pygments stuff */
.highlighttable td.linenos pre { padding-right: 0; padding-left: 0; }

/* make it as wide as the container */
/* we skip .code-container because we're doing differrent stuff for it below */
table.highlighttable:not(.code-container) { width: 100%; }
.highlighttable td.linenos { width: .1%; }

/* adjust margins to make it look nice */
table.highlighttable td.linenos code { 
    padding-left: .8rem; 
    padding-right: .0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
table.highlighttable td.code code { 
    padding-left: .7rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


/* HACK: should not hardcode the colors */

/* line numbers have the same color as the data-lang label, Spectre's .text-gray */
table.highlighttable td.linenos code { color: #bcc3ce; }

/* note: should be relatively kept in sync with the Pygments theme background */
.highlight { background: inherit; }


/* END Pygments stuff */



/* BEGIN Spectre improvements */

/* .table is missing the margin-bottom; use the same margin as <p> */
.table {
    margin-bottom: 1.2rem;
}


/* .code-label is a custom class applied to the outermost
 * <pre> parent that's a direct child of the column;
 * depending on where it comes from, it can be table.highlighttable,
 * div.highlight, or pre. We could use selectors like "pre:not(.highlight pre)",
 * but having an explicit class for this makes it cleaner. */

/* tested with a <div class="column col-sm-12 col-md-10 col-8"> parent */

/* no media */
/* reverse .col-8: 100 / 8 * 12 = 150 */ 
.code-container { width: 150%; }

@media (max-width: 840px) {
    /* .reverse .col-md-10: 100 / 10 * 12 = 120 */
    .code-container { width: 120%; }
}

@media (max-width: 600px) {
    /* reverse .col-sm-12 */
    .code-container { width: 100%; }
}


/* fix <li> containing <p> resulting in a newline after the marker box */
ol, ul { 
    list-style-position: outside;
    margin-left: 1.5rem; 
}


/* END Spectre improvements */



/* BEGIN heading paragraph anchor */

/* stolen from the Read the Docs theme */

.headerlink, h2 .headerlink, h3 .headerlink, h4 .headerlink, h5 .headerlink, h6 .headerlink, dl dt .headerlink, p.caption .headerlink, table > caption .headerlink, .code-block-caption .headerlink {
    visibility: hidden;
}

h1:hover .headerlink, h2:hover .headerlink, h3:hover .headerlink, h4:hover .headerlink, h5:hover .headerlink, h6:hover .headerlink, dl dt:hover .headerlink, p.caption:hover .headerlink, table > caption:hover .headerlink, .code-block-caption:hover .headerlink {
    visibility: visible;
}

/* END heading paragraph anchor */



/* BEGIN fonts */

/* whatever GitHub uses */
/* note: Spectre has a similar rule, but the order of things is a bit differrent */
body { font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji; }
code, pre > code { font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace; }

/* otherwise we get the emoji version */
.footnotes a.footnote {
    font-family: initial !important;
}

/* END fonts */



/* add some margin to the top */ 
.main {
    padding-top: 2rem;
}


/* make the footer stick to the bottom when there's not enough content */
/* note that if we used margin-top above, we'd have to subtract it from min-height */
.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* fallback */
    /* https://css-tricks.com/the-trick-to-viewport-units-on-mobile/ */
    /* depends on --vh being set from javascript */
    min-height: calc(var(--vh, 1vh) * 100);
}
.content {
    flex: 1 0 auto; 
}
}

